.heading{
    display: flex;
    align-items: center;
    margin-top: 50px;

    h4{
        font-weight: bold;
    }
}

button{
    background-color: #FF3F6C;
    border: none;
    height: 40px;
    width: 10%;
    margin-top: 25px;
}

