.cardBody{

    .select{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    button{
        background-color: #FF3F6C;
        border: none;
        height: 50px;
        width: 70%;
        margin-top: 25px;
    }
}


